/*
Theme Name: Naya lite child theme
Theme URI: http://wordpress.org/themes/twentythirteen
Description: naya-lite child theme
Author: WPMU
Author URI: http://wpmu.com
Template: naya-lite
Version: 1.0.0
*/
@import url("../naya-lite/style.css");
@import url("../naya-lite/app.css");
@import url("../naya-lite/fitz-styles.css");
/* =Theme customization starts here
-------------------------------------------------------------- */

body .row, html .row {
	max-width: 960px;
}

header #fitzBrand {
  float: left;
}

header .column, .columns {
	position: relative;
	padding-left: 1%;
	padding-right: 1%;
	float: left;
}

.container .column, .container .columns {
	margin-left: 0px; 
	margin-right: 0px; 
}
/* line 66, ../sass/fitz-styles.scss */
header #fitzBrand .mark {
  border: none;
  float: left;
  border-radius: 50%;
  margin-right: 15px;
  height: 40px;
  width: 40px;
  margin-top: 60px;
}
/* line 77, ../sass/fitz-styles.scss */
header #fitzBrand a {
  float: left;
}

header {
  position: relative;
  width: 100%;
}
/* line 36, ../sass/fitz-styles.scss */
header img {
  position: relative;
}


/**header**/
/* line 58, ../sass/fitz-styles.scss */
header {
  height: auto;
  background: white;
  z-index: 97;
}
/* line 63, ../sass/fitz-styles.scss */
header #fitzBrand {
  float: left;
}
/* line 66, ../sass/fitz-styles.scss */
header #fitzBrand .mark {
  border: none;
  float: left;
  border-radius: 50%;
  margin-right: 15px;
  height: 40px;
  width: 40px;
  margin-top: 30px;
}
/* line 77, ../sass/fitz-styles.scss */
header #fitzBrand a {
  float: left;
}
/* line 82, ../sass/fitz-styles.scss */
header navigation {
  float: right;
}
/* line 85, ../sass/fitz-styles.scss */
header navigation ul {
  list-style: none;
  border-top: none;
}
/* line 89, ../sass/fitz-styles.scss */
header navigation ul li {
  float: none;
  padding: auto;
}
/* line 98, ../sass/fitz-styles.scss */
header navigation ul li a {
  color: #292929;
}
/* line 101, ../sass/fitz-styles.scss */
header navigation ul li a:hover {
  color: #0A4680;
}

a, a:visited {
	color: black;
}

.lowerMenu .lower_menu li {
	float: left;
	margin-right: 40px;
}

ul li, ol li {
	margin: 0px;
}


/**widget and body copy styles**/

.widget-title {
	text-transform: lowercase;
	font-size: 20px;
	font-family: "adobe-caslon-pro",serif; font-weight: 600;
}

.widget a {
	font-family: 'times new roman', serif;
}

.entry-meta, .post-date, .widget .rss-date, .comment-author time, .post-meta {
	font-family: "adobe-caslon-pro",serif; font-weight: 600;
	font-style: italic;
	font-size: 16px;
	letter-spacing: 0px;
}

p {
	font-family: 'times new roman', serif;
	font-size: 15px;
}

.entry-title {
	font-family: "adobe-caslon-pro",serif;
	font-size: 32px;
	font-style: normal;
	margin-bottom: 0px;
}

/**end widget and body copy styles**/

/**brand styles**/
#fitzBrand img {
	display: block;
	margin: auto;
}

header #fitzBrand {
	float: none;
}

header #fitzBrand .mark {
	border: none;
	float: none;
	border-radius: 50%;
	margin: auto;
	height: 50px;
	width: 50px;
	margin-top: 60px;
	margin-bottom: 40px;
	display: block;
}

#fitzBrand .large-5 img {

}

header #fitzBrand a {
	float: none;
}
/**end brand styles**/

/**buttons**/
#searchsubmit {
   background-color: black;
  font-family: "adobe-caslon-pro",serif; font-weight: 400;
  border: none;
  font-size: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: normal;
  padding: 7px 0px 5px;
  color: white;
  height: 32px;
  text-transform: lowercase;
}

.comment-reply-title, .comments-title {
	font-family: "adobe-caslon-pro",serif; font-weight: 600;
	font-size: 24px;
}

input#s, #searchsubmit {
	font-family: "adobe-caslon-pro",serif;
}

.recentcomments {
	font-family: 'times new roman', serif;
}

input[type="submit"], input[type="button"], .button {
  background-color: black;
  font-family: "adobe-caslon-pro",serif; font-weight: 400;
  border: none;
  font-size: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: normal;
  padding: 12px 23px 5px;
  color: white;
  text-transform: uppercase;
}

input[type="submit"]:hover, input[type="button"]:hover, .button:hover {
	background-color: #333;
	-webkit-transition: background-color 0.2s linear;
}

#searchsubmit:hover {
	border: none;
	background-color: #333;
	color: white;
}
/**end buttons**/

/**breadcrumb and nav**/
header.block {
	padding: 0px;
	border-bottom: none;
}

.container .eleven.columns {
	z-index: 9;
}

::selection {
	background: #99BAF0;
	color: #000;
	text-shadow: none;
}

#breadcrumb {
	margin-top: 55px;
	border-bottom: 1px solid #e2e2e2;
}

#markAnchor {
	width: 0px;
}

#breadcrumb .mark {
	float: left;
	width: 30px;
	margin-top: -4px;
	display: none;
}

#breadcrumb.stuck {
	top: 0px;
	margin-top: 0px;
	width: 100%;
	z-index: 99999;
}

.sticky-wrapper {
	margin-top: 55px;
}

#breadcrumb span {
  margin-right: 15px;
  margin-left: 15px;
  list-style: none;
  font-family: "adobe-caslon-pro",serif; font-style: italic;
  color: black;
  font-size: 15px;
}

#breadcrumb span:first-child {
	margin-left: 0px;
}

#breadcrumb .row li a {
	text-transform: lowercase;
	font-style: normal;
	font-size: 15px;
	padding: 5px 12px;
}

#primary-nav.clearfix {
	clear: none;
}

.archive-header {
	background-color: #07359A;
	padding: 10px 20px 10px;
}

.archive-title {
	color: white;
	border-bottom: none;
	font-family: "adobe-caslon-pro",serif;
	font-size: 26px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
/**end breadcrumb and nav**/

#wrapper a:hover, #primary-nav > div > ul li a:hover, #primary-nav > div > ul li.current-menu-item a, #primary-nav > div > ul li:hover > a, #primary-nav > div > ul li.current-menu-ancestor a, #primary-nav > div > ul li.current-menu-parent a, #primary-nav > div > ul li.sfHover li li a:hover, #primary-nav > div > ul li.current_page_item > a {
	color: #151B23!important;
	text-decoration: underline!important;
} 

a:visited {
	color: black;
}

/**footer styles**/
footer .address img {
	width: 100%;
}
/**end footer styles**/

/**vcard**/
.vcard {
	display: inline-block;
	margin: 0 0 1.25em 0;
	border: 1px solid #dddddd;
	padding: 4px;
	height: 40px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 20px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
/**end vcard**/

/**stylign posts**/
.subheading {
	font-family: "adobe-caslon-pro",serif;
	margin-bottom: 30px;
}

.entry-meta {
	margin-bottom: 5px;
	color: black; 
	font-weight: 400;
}

.single .post-navigation.clearfix a, .paging-navigation.clearfix a.nav-prev, .paging-navigation.clearfix a.nav-next, .page-links a {
	font-family: "adobe-caslon-pro",serif;
}

blockquote p, blockquote {
	font-style: normal;
	border-left: none;
} 

#content .entry-title, .entry-title {
	margin-bottom: 10px;
}

.entry-meta .author, .entry-meta .categories-links {
	display: none;
}

/**end styling posts**/
